@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Open Sans', sans-serif;
}

body {
  @apply flex min-h-screen min-w-full place-items-center bg-background text-center text-gray-950 transition-colors duration-200 dark:bg-primary dark:text-white;
}

.menubar-size {
  height: 60px;
  width: 100vw;
}
